@import "variables";
@mixin form {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 1.3;
    color: #000;
}

@mixin darkBtn {
    background: $darkButtonColor;
    padding: 13px 61px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 1.3;
    cursor: pointer;
    &:hover {
        background: $blueColor;
    }
}

@mixin blueBtn {
    background: $blueColor;
    padding: 4px 20px;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 1.3;
    &:hover{
        background: $darkButtonColor;
    }
}

@mixin transparentBtn {
    background: transparent;
    color: $blueColor;
    width: 100%;
    display: inline-block;
    border: 1px solid $blueColor;
    border-top: 0;

    &:hover {
        background: $blueColor;
        color: #fff;
    }
}